@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800&display=swap');

body{
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
  background: black;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}
li{
  font-size: 40px;
  cursor: pointer;
  margin-bottom: 30px;
}
.cursor{
  position: fixed;
  background: #fff;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  border: 1px solid gray;
  z-index: 999;
  pointer-events: none;
  mix-blend-mode: difference;
}